*{
    margin: 0;
    padding: 0;
}
.fundo{
    height: 100vh;
    width: 100vw;
    position: relative;
    /* Adicionadno a imagem de fundo*/
    background: url(3052-chiquinho-virou-um-gato-meme-por-andar-d-articles_media_mobile-3.jpg);
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 32, 31);
    border: none;
    color: white;
}
.botao:hover{
    background-color: black;
}